In [ ]:
# default_exp clone_counters

In [ ]:
%load_ext autoreload
%autoreload 2

In [ ]:
# export
from functools import partial, reduce
from glob import glob
from typing import Callable

import dask.array as da
import dask.dataframe as dd
import numpy as np
import pandas as pd
import xarray as xr
from skimage import measure

from py_clone_detective import clone_analysis as ca
from py_clone_detective.utils import (
    add_scale_regionprops_table_area_measurements,
    calculate_corresponding_labels,
    calculate_overlap,
    check_channels_input_suitable_and_return_channels,
    determine_labels_across_other_images_using_centroids,
    extend_region_properties_list,
    get_all_labeled_clones_unmerged_and_merged,
    img_path_to_xarr,
    last2dims,
    lazy_props,
    reorder_df_to_put_ch_info_first,
    update_1st_coord_and_dim_of_xarr,
)

# CloneCounter Classes

## Parent Class

In [ ]:
# export
class CloneCounter:
    def __init__(
        self,
        exp_name: str,
        img_name_regex: str,
        pixel_size: float,
        tot_seg_ch: str = "C0",
    ):
        self.exp_name = exp_name
        self.img_name_regex = img_name_regex
        self.pixel_size = pixel_size
        self.tot_seg_ch = tot_seg_ch

    def add_images(self, **channel_path_globs):
        return img_path_to_xarr(
            self.img_name_regex,
            self.pixel_size,
            ch_name_for_first_dim="img_channels",
            **channel_path_globs,
        )

    def add_segmentations(
        self,
        additional_func_to_map: Callable = None,
        ad_func_kwargs: dict = None,
        **channel_path_globs,
    ):
        segmentations = img_path_to_xarr(
            self.img_name_regex,
            self.pixel_size,
            ch_name_for_first_dim="seg_channels",
            **channel_path_globs,
        )

        if additional_func_to_map is not None:
            segmentations.data = segmentations.data.map_blocks(
                additional_func_to_map, **ad_func_kwargs, dtype=np.uint16
            )

        segmentations.data = segmentations.data.map_blocks(
            last2dims(partial(measure.label)), dtype=np.uint16
        )
        return segmentations

    def combine_C0_overlaps_and_measurements(self):
        ov_df = (
            self.results_overlaps.pivot(
                index=["img_name", "C0_labels"],
                columns=["colocalisation_ch"],
                values="is_in_label",
            )
            .query("C0_labels != 0")
            .copy()
        )
        sk_df = self.results_measurements.query("seg_ch== 'C0'").set_index(
            ["seg_img", "label"]
        )
        sk_df.index.rename(["img_name", "C0_labels"], inplace=True)
        return pd.merge(ov_df, sk_df, left_index=True, right_index=True)

    def determine_seg_img_channel_pairs(
        self, seg_channels: list = None, img_channels: list = None
    ):
        seg_channels = check_channels_input_suitable_and_return_channels(
            channels=seg_channels,
            available_channels=self.image_data.seg_channels.values.tolist(),
        )

        img_channels = check_channels_input_suitable_and_return_channels(
            channels=img_channels,
            available_channels=self.image_data.img_channels.values.tolist(),
        )

        seg_img_channel_pairs = pd.DataFrame()
        seg_img_channel_pairs["image_channel"] = pd.Series(img_channels)
        seg_img_channel_pairs["segmentation_channel"] = pd.Series(seg_channels)
        self.seg_img_channel_pairs = seg_img_channel_pairs.fillna(method="ffill")[
            ["segmentation_channel", "image_channel"]
        ]

    def make_measurements(
        self,
        seg_channels: list = None,
        img_channels: list = None,
        extra_properties: list = None,
        **kwargs,
    ):

        self.determine_seg_img_channel_pairs(seg_channels, img_channels)

        properties = extend_region_properties_list(extra_properties)

        results = list()
        for _, seg_ch, img_ch in self.seg_img_channel_pairs.itertuples():
            for seg, img in zip(
                self.image_data["segmentations"].loc[seg_ch],
                self.image_data["images"].loc[img_ch],
            ):
                results.append(
                    lazy_props(
                        seg.data,
                        img.data,
                        seg.seg_channels.item(),
                        img.img_channels.item(),
                        seg.img_name.item(),
                        img.img_name.item(),
                        properties,
                        **kwargs,
                    )
                )

        df = dd.from_delayed(results).compute()
        df = add_scale_regionprops_table_area_measurements(df, self.pixel_size)
        self.results_measurements = reorder_df_to_put_ch_info_first(df)
        self._determine_max_seg_label_levels()

    def _determine_max_seg_label_levels(self):
        self.tot_seg_ch_max_labels = (
            self.image_data["segmentations"]
            .loc[self.tot_seg_ch]
            .data.map_blocks(
                lambda x: np.unique(x).shape[0], drop_axis=(1, 2), dtype=np.uint16,
            )
            .compute()
            .max()
        )

    def _create_df_from_arr(self, arr):
        return (
            xr.DataArray(
                np.moveaxis(arr, 1, 0),
                coords=(
                    self.image_data["segmentations"].coords["seg_channels"][1:],
                    self.image_data["segmentations"].coords["img_name"],
                    np.arange(self.tot_seg_ch_max_labels),
                ),
                dims=("colocalisation_ch", "img_name", "C0_labels",),
            )
            .to_dataframe("is_in_label")
            .reset_index()
            .dropna()
        )

    def measure_overlap(self):
        self._determine_max_seg_label_levels()
        arr = (
            self.image_data["segmentations"]
            .data.map_blocks(
                calculate_overlap,
                drop_axis=[0],
                dtype=np.float64,
                num_of_segs=self.image_data["segmentations"].shape[0],
                preallocate_value=self.tot_seg_ch_max_labels,
            )
            .compute()
        )

        df = self._create_df_from_arr(arr)
        df["is_in_label"] = df["is_in_label"].astype(np.uint16)
        self.results_overlaps = df[
            ["img_name", "C0_labels", "colocalisation_ch", "is_in_label"]
        ]

    def filter_labels_update_measurements_df_and_to_dict(
        self, query_for_pd: str, name_for_query: str
    ):

        self.results_measurements[
            f"{name_for_query}_pos"
        ] = self.results_measurements.eval(query_for_pd)
        return (
            self.results_measurements.query(query_for_pd)
            .groupby("int_img")
            .agg({"label": lambda x: list(x)})["label"]
            .to_dict()
        )

    def get_centroids_list(self):
        df = self.results_measurements.query("int_img_ch == @self.tot_seg_ch")
        centroids_list = list()
        for img_name in df["int_img"].unique():
            centroids_list.append(
                (
                    df.query("int_img == @img_name")
                    .loc[:, ["centroid-0", "centroid-1"]]
                    .values.astype(int)
                )
            )
        return centroids_list

    def add_clones_and_neighbouring_labels(
        self,
        query_for_pd: str = 'int_img_ch == "C1" & mean_intensity > 1000',
        name_for_query: str = "C1",
        calc_clones: bool = True,
    ):
        new_coord = [
            "extended_tot_seg_labels",
            "total_neighbour_counts",
            f"{name_for_query}pos_neigh_counts",
            f"{name_for_query}neg_neigh_counts",
        ]

        if calc_clones:
            new_coord.append(f"{name_for_query}_clone")

        clone_coords, clone_dims = update_1st_coord_and_dim_of_xarr(
            self.image_data["images"],
            new_coord=new_coord,
            new_dim=f"{name_for_query}_neighbours",
        )

        labels_to_keep = self.filter_labels_update_measurements_df_and_to_dict(
            query_for_pd, name_for_query
        )

        new_label_imgs = get_all_labeled_clones_unmerged_and_merged(
            self.image_data["segmentations"].loc[self.tot_seg_ch],
            labels_to_keep,
            calc_clones,
        )

        return xr.DataArray(
            data=new_label_imgs,
            coords=clone_coords,
            dims=clone_dims,
            attrs={f"{self.tot_seg_ch}_labels_kept_query": query_for_pd},
        )

    def colabels_to_df(self, colabels, name_for_query):
        return (
            xr.DataArray(
                colabels,
                coords=(
                    self.image_data[name_for_query].coords[
                        f"{name_for_query}_neighbours"
                    ],
                    foo.image_data[name_for_query].coords["img_name"],
                    range(1, colabels.shape[2] + 1),
                ),
                dims=(f"{name_for_query}_neighbours", "img_name", "label"),
            )
            .to_dataframe("colabel")
            .reset_index()
            .dropna()
            .pivot(
                index=["img_name", "label"],
                columns=[f"{name_for_query}_neighbours"],
                values="colabel",
            )
            .astype(np.uint16)
            .query("label == extended_tot_seg_labels")
            .eval(
                f"oth_{name_for_query}pos_neigh_counts = total_neighbour_counts - {name_for_query}neg_neigh_counts"
            )
            .eval(
                f"oth_{name_for_query}neg_neigh_counts = total_neighbour_counts - {name_for_query}pos_neigh_counts"
            )
        )

    def clarify_neighbouring_label_counts(self, name_for_query):
        df = (
            self.results_clones_and_neighbour_counts[name_for_query]
            .assign(
                intermediate_1=lambda x: x[f"oth_{name_for_query}pos_neigh_counts"][
                    x[f"{name_for_query}pos_neigh_counts"] == 0
                ]
            )
            .assign(
                intermediate_2=lambda x: x[f"{name_for_query}pos_neigh_counts"][
                    x[f"oth_{name_for_query}pos_neigh_counts"]
                    == x["total_neighbour_counts"]
                ]
            )
        )
        df[f"{name_for_query}pos_nc"] = df.intermediate_1.fillna(
            0
        ) + df.intermediate_2.fillna(0)
        df[f"{name_for_query}neg_nc"] = (
            df.total_neighbour_counts - df[f"{name_for_query}pos_nc"]
        )

        return (
            df.drop(
                columns=[
                    f"{name_for_query}neg_neigh_counts",
                    f"{name_for_query}pos_neigh_counts",
                    f"oth_{name_for_query}pos_neigh_counts",
                    f"oth_{name_for_query}neg_neigh_counts",
                    "intermediate_1",
                    "intermediate_2",
                ]
            )
            .astype(np.uint16)
            .query(f"{name_for_query}neg_nc != 0 | {name_for_query}pos_nc != 0")
        )

    def measure_clones_and_neighbouring_labels(self, name_for_query):
        self.get_centroids_list()
        colabels = calculate_corresponding_labels(
            self.image_data[name_for_query].data,
            self.get_centroids_list(),
            self.image_data[name_for_query].shape[0],
            foo.tot_seg_ch_max_labels,
        )

        if not hasattr(self, "results_clones_and_neighbour_counts"):
            self.results_clones_and_neighbour_counts = dict()

        self.results_clones_and_neighbour_counts[name_for_query] = self.colabels_to_df(
            colabels, name_for_query
        )

        self.results_clones_and_neighbour_counts[name_for_query].index.rename(
            ["int_img", "label"], inplace=True
        )

        self.results_clones_and_neighbour_counts[
            name_for_query
        ] = self.clarify_neighbouring_label_counts(name_for_query)

    def combine_neighbour_counts_and_measurements(self):
        list_df = list(self.results_clones_and_neighbour_counts.values()) + [
            self.results_measurements.set_index(["int_img", "label"])
        ]
        merged_df = reduce(
            lambda left, right: pd.merge(
                left,
                right,
                how="left",
                on=["int_img", "label"],
                suffixes=(None, "_extra"),
            ),
            list_df,
        )

        cols_to_drop = merged_df.filter(regex="extra").columns.tolist() + [
            "extended_tot_seg_labels"
        ]

        return merged_df.drop(columns=cols_to_drop)

## CloneCounter subclasses

In [ ]:
# export
class LazyCloneCounter(CloneCounter):
    def __init__(self, exp_name: str, img_name_regex: str, pixel_size: float):
        super().__init__(exp_name, img_name_regex, pixel_size)

    def add_images(self, **channel_path_globs):
        self.image_data = xr.Dataset(
            {"images": super().add_images(**channel_path_globs)}
        )

    def add_segmentations(
        self,
        additional_func_to_map: Callable = None,
        ad_func_kwargs: dict = None,
        **channel_path_globs
    ):
        self.image_data["segmentations"] = super().add_segmentations(
            additional_func_to_map, ad_func_kwargs, **channel_path_globs
        )

    def add_clones_and_neighbouring_labels(
        self,
        query_for_pd: str = 'int_img_ch == "C1" & mean_intensity > 1000',
        name_for_query: str = "filt_C1_intensity",
        calc_clones: bool = True,
    ):
        self.image_data[name_for_query] = super().add_clones_and_neighbouring_labels(
            query_for_pd, name_for_query, calc_clones
        )

In [ ]:
# export
class PersistentCloneCounter(CloneCounter):
    def __init__(self, exp_name: str, img_name_regex: str, pixel_size: float):
        super().__init__(exp_name, img_name_regex, pixel_size)

    def add_images(self, **channel_path_globs):
        self.image_data = xr.Dataset(
            {"images": super().add_images(**channel_path_globs)}
        ).persist()

    def add_segmentations(
        self,
        additional_func_to_map: Callable = None,
        ad_func_kwargs: dict = None,
        **channel_path_globs,
    ):
        self.image_data["segmentations"] = (
            super()
            .add_segmentations(
                additional_func_to_map, ad_func_kwargs, **channel_path_globs
            )
            .persist()
        )

    def add_clones_and_neighbouring_labels(
        self,
        query_for_pd: str = 'int_img_ch == "C1" & mean_intensity > 1000',
        name_for_query: str = "filt_C1_intensity",
        calc_clones: bool = True,
    ):
        self.image_data[name_for_query] = (
            super()
            .add_clones_and_neighbouring_labels(
                query_for_pd, name_for_query, calc_clones
            )
            .persist()
        )

In [ ]:
# hide
from dask.distributed import Client

c = Client()
c

## Example using LazyCloneCounter with measure_overlap

In [ ]:
bar = LazyCloneCounter("Marcm2a_E7F1", r"a\dg\d\dp\d", 0.275)

bar.add_images(
    C0="../current_imaging_analysis/MARCM2A_E7F1_refactoring/C0/C0_imgs/*.tif*",
    C1="../current_imaging_analysis/MARCM2A_E7F1_refactoring/C1/C1_imgs/*.tif*",
    C2="../current_imaging_analysis/MARCM2A_E7F1_refactoring/C2/C2_imgs/*.tif*",
    C3="../current_imaging_analysis/MARCM2A_E7F1_refactoring/C3/C3_imgs/*.tif*",
)

bar.add_segmentations(
    C0="../current_imaging_analysis/MARCM2A_E7F1_refactoring/C0/C0_label_imgs_combined_C3/*.tif*",
    C1="../current_imaging_analysis/MARCM2A_E7F1_refactoring/C1/C1_binaries/*.tif*",
    C2="../current_imaging_analysis/MARCM2A_E7F1_refactoring/C2/C2_label_imgs_v2/*.tif*",
    C3="../current_imaging_analysis/MARCM2A_E7F1_refactoring/C3/C3_label_imgs/*.tif*",
)
bar.make_measurements(extra_properties=["convex_area"],)
df = bar.measure_overlap()
# df = bar.combine_C0_overlaps_and_measurements()

In [ ]:
ca.query_df_groupby_by_clone_channel(
    df,
    {
        "C2negC3neg_C0area_less_than_50um2": "C3 == 0 & C2 == 0 & area_um2 < 50",
        "C2negC3neg_C0area_greater_than_50um2": "C3 == 0 & C2 == 0 & area_um2 > 50",
        "C2pos": "C2 != 0",
        "C3pos": "C3 != 0",
    },
    clone_channel="C1",
)

            C2negC3neg_C0area_less_than_50um2                        \
                                    C0_labels   area_um2
                                        count       mean        std
img_name C1
a1g01p1  0                                 90  23.704236  11.028195
         1                                  1  31.157500        NaN
         2                                 14  23.978527   6.857923
         4                                  9  26.905694  13.324214
a1g01p2  0                                 93  27.090013  12.270181
...                                       ...        ...        ...
a2g12p1  0                                 69  21.032518  12.005780
a2g12p2  0                                 63  27.849206  13.966935
a2g13p1  0                                137  28.271054  11.999889
a2g13p2  0                                 80  26.988672  11.872825
a2g13p3  0                                 64  23.075078  10.868100

            C2negC3neg_C0area_greater_than_50um2                         \
                                       C0_labels    area_um2
                                           count        mean        std
img_name C1
a1g01p1  0                                    22   82.469063  33.422793
         1                                     2   53.504688   0.588224
         2                                     5   87.377125  37.336913
         4                                     2  119.298438   7.860818
a1g01p2  0                                    48   80.080573  20.334236
...                                          ...         ...        ...
a2g12p1  0                                    12   71.938281  21.282496
a2g12p2  0                                    17   59.748199   7.764255
a2g13p1  0                                    18   57.886736   8.982864
a2g13p2  0                                     8   58.892969   4.819319
a2g13p3  0                                     2   52.030000   1.711198

                C2pos                           C3pos
            C0_labels   area_um2            C0_labels  area_um2
                count       mean        std     count      mean       std
img_name C1
a1g01p1  0         81  80.136358  30.521184        29  6.057823  5.057770
         1          9  94.985000  24.524868         1  5.520625       NaN
         2         13  71.087500  27.954905         4  3.932500  3.430742
         4          9  86.237708  37.690737         1  4.461875       NaN
a1g01p2  0        107  67.489305  32.965702        25  6.107475  4.459860
...               ...        ...        ...       ...       ...       ...
a2g12p1  0         95  45.411618  28.140310        26  7.507236  3.430112
a2g12p2  0         53  35.659328  19.589708        23  8.183940  4.043894
a2g13p1  0         17  27.692096  16.454961        40  7.190047  4.512039
a2g13p2  0        108  32.742124  21.818361        35  6.397875  4.275251
a2g13p3  0        149  47.172236  17.007087        23  8.183940  9.110108

[114 rows x 12 columns]

## Example using LazyCloneCounter with add_clones_and_neighbouring_labels

In [ ]:
from skimage import morphology

In [ ]:
foo = LazyCloneCounter("Marcm2a_E7F1", r"a\dg\d\dp\d", 0.275)

foo.add_images(
    C0="../current_imaging_analysis/MARCM2A_E7F1_refactoring/C0/C0_imgs/*.tif*",
    C1="../current_imaging_analysis/MARCM2A_E7F1_refactoring/C1/C1_imgs/*.tif*",
    C2="../current_imaging_analysis/MARCM2A_E7F1_refactoring/C2/C2_imgs/*.tif*",
    C3="../current_imaging_analysis/MARCM2A_E7F1_refactoring/C3/C3_imgs/*.tif*",
)

foo.add_segmentations(
    morphology.remove_small_objects,
    ad_func_kwargs={"min_size": 49},
    C0="../current_imaging_analysis/MARCM2A_E7F1_refactoring/C0/C0_label_imgs_combined_C3/*.tif*",
)

foo.make_measurements()

In [ ]:
foo.add_clones_and_neighbouring_labels(
    query_for_pd='int_img_ch == "C1" & mean_intensity > 1000',
    name_for_query="C1",
    calc_clones=True,
)

In [ ]:
foo.results_measurements = foo.results_measurements.eval(
    "total_intensity = mean_intensity * area"
)

In [ ]:
foo.add_clones_and_neighbouring_labels(
    query_for_pd='int_img_ch == "C2" & total_intensity > 2e5',
    name_for_query="C2",
    calc_clones=False,
)

In [ ]:
foo.add_clones_and_neighbouring_labels(
    query_for_pd='int_img_ch == "C3" & mean_intensity > 5000',
    name_for_query="C3",
    calc_clones=False,
)

In [ ]:
foo.measure_clones_and_neighbouring_labels(name_for_query="C1")

In [ ]:
foo.measure_clones_and_neighbouring_labels(name_for_query="C2")

In [ ]:
foo.measure_clones_and_neighbouring_labels(name_for_query="C3")

In [ ]:
df = foo.combine_neighbour_counts_and_measurements()

In [ ]:
df

               C1_clone  total_neighbour_counts  C1pos_nc  C1neg_nc  C2pos_nc  \
int_img label
a1g01p1 12            0                       3         1         2         3
        12            0                       3         1         2         3
        12            0                       3         1         2         3
        12            0                       3         1         2         3
        13            0                       3         0         3         3
...                 ...                     ...       ...       ...       ...
a2g13p3 232           0                       3         0         3         1
        233           0                       2         0         2         2
        233           0                       2         0         2         2
        233           0                       2         0         2         2
        233           0                       2         0         2         2

               C2neg_nc  C3pos_nc  C3neg_nc seg_ch int_img_ch  seg_img  area  \
int_img label
a1g01p1 12            0         0         3     C0         C0  a1g01p1  1094
        12            0         0         3     C0         C1  a1g01p1  1094
        12            0         0         3     C0         C2  a1g01p1  1094
        12            0         0         3     C0         C3  a1g01p1  1094
        13            0         0         3     C0         C0  a1g01p1  1123
...                 ...       ...       ...    ...        ...      ...   ...
a2g13p3 232           2         0         3     C0         C3  a2g13p3   723
        233           0         0         2     C0         C0  a2g13p3   253
        233           0         0         2     C0         C1  a2g13p3   253
        233           0         0         2     C0         C2  a2g13p3   253
        233           0         0         2     C0         C3  a2g13p3   253

               mean_intensity  centroid-0  centroid-1   area_um2  C1_pos  \
int_img label
a1g01p1 12        2103.588665   43.901280   89.606947  82.733750   False
        12          60.372029   43.901280   89.606947  82.733750   False
        12        2209.449726   43.901280   89.606947  82.733750   False
        12          73.462523   43.901280   89.606947  82.733750   False
        13        3414.680321   51.479964  362.270703  84.926875   False
...                       ...         ...         ...        ...     ...
a2g13p3 232        107.864454  772.175657  475.138313  54.676875   False
        233       1257.762846  771.916996  675.988142  19.133125   False
        233         32.418972  771.916996  675.988142  19.133125   False
        233        742.395257  771.916996  675.988142  19.133125   False
        233         99.430830  771.916996  675.988142  19.133125   False

               total_intensity  C2_pos  C3_pos
int_img label
a1g01p1 12           2301326.0   False   False
        12             66047.0   False   False
        12           2417138.0    True   False
        12             80368.0   False   False
        13           3834686.0   False   False
...                        ...     ...     ...
a2g13p3 232            77986.0   False   False
        233           318214.0   False   False
        233             8202.0   False   False
        233           187826.0   False   False
        233            25156.0   False   False

[67104 rows x 20 columns]

In [ ]:
ca.individual_filter_condition(
    df.reset_index(),
    "C2negC3neg_C0area_less_than_50um2",
    "C2_pos == False & C3_pos == False & area_um2 < 50",
    clone_channel="C1_clone",
    agg_functions={"label": "count", "area_um2": [np.mean, np.std]})

                 C2negC3neg_C0area_less_than_50um2
                                             label   area_um2
                                             count       mean        std
int_img C1_clone
a1g01p1 0                                      288  21.231194  11.170903
        1                                        7  16.507857  13.703486
        2                                       52  28.999279  12.245440
        3                                       57  21.590274   8.259390
a1g01p2 0                                      289  24.876962  12.541212
...                                            ...        ...        ...
a2g13p3 1                                        3  19.889375   0.000000
        3                                        6  45.072500   4.887739
        4                                       10  29.690375  12.216407
        5                                       24  21.212813   9.764784
        6                                       10  28.162750  20.571613

[493 rows x 3 columns]

In [ ]:
df.groupby(["int_img", "C1_clone"]).mean()

                  total_neighbour_counts  C1pos_nc  C1neg_nc  C2pos_nc  \
int_img C1_clone
a1g01p1 0                       5.168919  0.898649  4.270270  3.716216
        1                       5.333333  3.500000  1.833333  4.750000
        2                       6.032258  3.806452  2.225806  4.129032
        3                       5.636364  4.363636  1.272727  3.636364
a1g01p2 0                       5.287958  0.544503  4.743455  4.748691
...                                  ...       ...       ...       ...
a2g13p3 3                       5.000000  1.000000  4.000000  3.000000
        4                       5.000000  2.000000  3.000000  3.333333
        5                       5.571429  3.142857  2.428571  1.714286
        6                       6.000000  2.000000  4.000000  4.333333
        7                       7.000000  7.000000  0.000000  6.000000

                  C2neg_nc  C3pos_nc  C3neg_nc        area  mean_intensity  \
int_img C1_clone
a1g01p1 0         1.452703  0.074324  5.094595  698.972973     1350.134103
        1         0.583333  0.000000  5.333333  988.750000     3244.118251
        2         1.903226  0.000000  6.032258  916.677419     3019.346978
        3         2.000000  0.484848  5.151515  709.272727     3405.141641
a1g01p2 0         0.539267  0.492147  4.795812  713.916230     1807.947609
...                    ...       ...       ...         ...             ...
a2g13p3 3         2.000000  0.000000  5.000000  596.000000     1397.195927
        4         1.666667  0.333333  4.666667  412.333333     3284.460920
        5         3.857143  0.000000  5.571429  370.571429     1979.803225
        6         1.666667  0.000000  6.000000  407.000000     1914.581766
        7         1.000000  0.000000  7.000000  666.000000     2090.616742

                  centroid-0  centroid-1   area_um2  C1_pos  total_intensity  \
int_img C1_clone
a1g01p1 0         415.072931  424.336504  52.859831    0.00     1.059857e+06
        1         178.417830  179.584977  74.774219    0.25     3.275008e+06
        2         606.689585  464.509720  69.323730    0.25     2.584500e+06
        3         351.838635  619.393628  53.638750    0.25     2.218709e+06
a1g01p2 0         441.968006  401.861539  53.989915    0.00     1.164067e+06
...                      ...         ...        ...     ...              ...
a2g13p3 3         108.250328  231.377807  45.072500    0.25     8.386021e+05
        4         607.199311  296.749368  31.182708    0.25     1.350551e+06
        5         435.191063  346.640313  28.024464    0.25     8.647643e+05
        6         583.310410  408.783193  30.779375    0.25     9.760237e+05
        7         212.412913  439.857357  50.366250    0.25     1.392351e+06

                    C2_pos    C3_pos
int_img C1_clone
a1g01p1 0         0.153716  0.001689
        1         0.229167  0.000000
        2         0.169355  0.000000
        3         0.143939  0.022727
a1g01p2 0         0.222513  0.018325
...                    ...       ...
a2g13p3 3         0.250000  0.000000
        4         0.166667  0.000000
        5         0.035714  0.000000
        6         0.166667  0.000000
        7         0.250000  0.000000

[528 rows x 16 columns]

In [ ]:
bar = ca.query_df_groupby_by_clone_channel(
    df.reset_index(),
    queries={
        "Total" : None,
        "C2negC3neg_C0area_less_than_50um2": "C2_pos == False & C3_pos == False & area_um2 < 50",
        "C2negC3neg_C0area_greater_than_50um2": "C2_pos == False & C3_pos == False & area_um2 > 50",
        "C2pos_count": "C2_pos == True",
        "C3_pos_count": "C3_pos == True",
    },
    clone_channel="C1_clone",
)

In [ ]:
bar

                 Total                        \
                 label   area_um2
                 count       mean        std
int_img C1_clone
a1g01p1 0          592  52.859831  36.829380
        1           48  74.774219  34.801267
        2          124  69.323730  40.704183
        3          132  53.638750  34.018664
a1g01p2 0          764  53.989915  33.527327
...                ...        ...        ...
a2g13p3 3            8  45.072500   4.769945
        4           12  31.182708  11.769143
        5           28  28.024464  19.233495
        6           12  30.779375  19.671594
        7            4  50.366250   0.000000

                 C2negC3neg_C0area_less_than_50um2                        \
                                             label   area_um2
                                             count       mean        std
int_img C1_clone
a1g01p1 0                                    288.0  21.231194  11.170903
        1                                      7.0  16.507857  13.703486
        2                                     52.0  28.999279  12.245440
        3                                     57.0  21.590274   8.259390
a1g01p2 0                                    289.0  24.876962  12.541212
...                                            ...        ...        ...
a2g13p3 3                                      6.0  45.072500   4.887739
        4                                     10.0  29.690375  12.216407
        5                                     24.0  21.212813   9.764784
        6                                     10.0  28.162750  20.571613
        7                                      NaN        NaN        NaN

                 C2negC3neg_C0area_greater_than_50um2                         \
                                                label    area_um2
                                                count        mean        std
int_img C1_clone
a1g01p1 0                                       212.0   86.250313  23.366615
        1                                        30.0   86.061250  25.444274
        2                                        51.0  102.049265  22.659063
        3                                        53.0   80.794611  21.905102
a1g01p2 0                                       291.0   81.944755  21.732038
...                                               ...         ...        ...
a2g13p3 3                                         NaN         NaN        NaN
        4                                         NaN         NaN        NaN
        5                                         3.0   68.894375   0.000000
        6                                         NaN         NaN        NaN
        7                                         3.0   50.366250   0.000000

                 C2pos_count                       C3_pos_count             \
                       label   area_um2                   label   area_um2
                       count       mean        std        count       mean
int_img C1_clone
a1g01p1 0               91.0  74.882047  30.059513          1.0  79.103750
        1               11.0  81.070000  29.997817          NaN        NaN
        2               21.0  89.698452  33.599932          NaN        NaN
        3               19.0  77.941513  24.205818          3.0  28.888750
a1g01p2 0              170.0  59.363401  31.647216         14.0   8.653661
...                      ...        ...        ...          ...        ...
a2g13p3 3                2.0  45.072500   6.310044          NaN        NaN
        4                2.0  38.644375   6.844794          NaN        NaN
        5                1.0  68.894375        NaN          NaN        NaN
        6                2.0  43.862500   6.096144          NaN        NaN
        7                1.0  50.366250        NaN          NaN        NaN



                        std
int_img C1_clone
a1g01p1 0               NaN
        1               NaN
        2               NaN
        3         28.242774
a1g01p2 0          2.981156
...                     ...
a2g13p3 3               NaN
        4               NaN
        5               NaN
        6               NaN
        7               NaN

[528 rows x 15 columns]

In [ ]:
bar.loc[:, (slice(None), 'label', 'count')]

                 C2negC3neg_C0area_less_than_50um2  \
                                             label
                                             count
int_img C1_clone
a1g01p1 0                                    288.0
        1                                      7.0
        2                                     52.0
        3                                     57.0
a1g01p2 0                                    289.0
...                                            ...
a2g13p3 3                                      6.0
        4                                     10.0
        5                                     24.0
        6                                     10.0
        7                                      NaN

                 C2negC3neg_C0area_greater_than_50um2 C2pos_count C3_pos_count
                                                label       label        label
                                                count       count        count
int_img C1_clone
a1g01p1 0                                       212.0        91.0          1.0
        1                                        30.0        11.0          NaN
        2                                        51.0        21.0          NaN
        3                                        53.0        19.0          3.0
a1g01p2 0                                       291.0       170.0         14.0
...                                               ...         ...          ...
a2g13p3 3                                         NaN         2.0          NaN
        4                                         NaN         2.0          NaN
        5                                         3.0         1.0          NaN
        6                                         NaN         2.0          NaN
        7                                         3.0         1.0          NaN

[528 rows x 4 columns]

In [ ]:
import napari

view = napari.Viewer()

In [ ]:
view.add_image(foo.image_data["images"], channel_axis=0)

[<Image layer 'Image' at 0x7fbc910cc970>,
 <Image layer 'Image [1]' at 0x7fbc8f103e80>,
 <Image layer 'Image [2]' at 0x7fbc8a101640>,
 <Image layer 'Image [3]' at 0x7fbc914ff070>]

In [ ]:
view.add_labels(foo.image_data["images"][3] > 5000)

In [ ]:
df.head()

               C1_clone  total_neighbour_counts  C1pos_nc  C1neg_nc  C2pos_nc  \
int_img label
a1g01p1 12            0                       3         1         2         3
        12            0                       3         1         2         3
        12            0                       3         1         2         3
        12            0                       3         1         2         3
        13            0                       3         0         3         3

               C2neg_nc  C3pos_nc  C3neg_nc seg_ch int_img_ch  seg_img  area  \
int_img label
a1g01p1 12            0         0         3     C0         C0  a1g01p1  1094
        12            0         0         3     C0         C1  a1g01p1  1094
        12            0         0         3     C0         C2  a1g01p1  1094
        12            0         0         3     C0         C3  a1g01p1  1094
        13            0         0         3     C0         C0  a1g01p1  1123

               mean_intensity  centroid-0  centroid-1   area_um2  C1_pos  \
int_img label
a1g01p1 12        2103.588665   43.901280   89.606947  82.733750   False
        12          60.372029   43.901280   89.606947  82.733750   False
        12        2209.449726   43.901280   89.606947  82.733750   False
        12          73.462523   43.901280   89.606947  82.733750   False
        13        3414.680321   51.479964  362.270703  84.926875   False

               total_intensity  C2_pos  C3_pos
int_img label
a1g01p1 12           2301326.0   False   False
        12             66047.0   False   False
        12           2417138.0    True   False
        12             80368.0   False   False
        13           3834686.0   False   False